/* CSS Custom Properties */
:root {
  --white: #FFFFFF;
  --tan-1: #FBF9F6;
  --tan-2: #E7E2DD;
  --tan-3: #E2D9D1;
  --tan-4: #b786df;
  --orange: #f63500;
  --text-light: #968c84;
  --text-dark: #615954;
  --purple-tint: #ccc1ce;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--purple-tint);
  padding: 2vmin;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

.align-ctr {
  text-align: center;
}

.align-rt {
  text-align: right;
}

.smaller {
  font-size: smaller;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-j-end {
  justify-content: flex-end;
}

.scroll-y {
  overflow-y: scroll;
}

.section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--tan-1);
  color: var(--text-dark);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
  padding: .6vmin;
  text-align: center;
  font-size: 2vmin;
}

.form-container {
  padding: 3vmin;
  background-color: var(--tan-1);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
}

p.error-message {
  color: var(--orange);
  text-align: center;
}

/* 
form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
  color: var(--text-light);
} */

label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
}

input {
  padding: 1vmin;
  font-size: 2vmin;
  border: .1vmin solid var(--tan-3);
  /* border-radius: .5vmin; */
  color: var(--text-dark);
  background-image: none !important;
  outline: none;
}

input:focus {
  border-color: var(--orange);
}

button,
a.button {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--white);
  background-color: var(--orange);
  /* font-size: 2vmin; */
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1vmin solid var(--tan-2);
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
}

button.btn-sm {
  font-size: 1.5vmin;
  padding: .6vmin .8vmin;
}

button.btn-xs {
  font-size: 1vmin;
  padding: 0vmin 0vmin;
}

button:disabled,
form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: var(--tan-4);
}

button[type="submit"] {
  grid-column: span 2;
  margin: .0vmin 0 0;
}



.EventCardContainer {
  /* background-color: #b786df; */
  /* background-color: white; */
  width: 90%;
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  justify-content: center;
  /* justify-items: center; */
  /* justify-self: center; */
}

.event-page-main {
  display: flex;
  flex-direction: column;
  /* background-color: #F67F00; */
  justify-content: center;
  justify-items: center;
  align-items: center;
}



.search-forms {
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 0.5vmin 0vmin;
  border-radius: 8px;
  padding-left: .5vmin;
  padding-right: .05vmin;
}


.search-input-form {
  flex-grow: 2;
  height: 2rem;
  padding: 0 1rem;
  border: none;
  font-size: 1.2rem;
  margin-right: .1rem;
}

.search-input-form:hover {
  background-color: #e0e0e0;
  border-color: #a0a0a0;
}

.stateDropdown {
  width: 20%;
  height: 2rem;
  padding: 0 1rem;
  /* border: 1px solid #bbb;  */
  border: none;
  /* border-radius: 6px; */
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
}

.search-form-btn {
  background-color: #999;
  color: white;
  border: none;
  /* border-radius: 6px; */
  height: 2em;
  text-align: center;
  font-size: 1rem;
  border-radius: 0;
  padding: 0 1rem;
  padding-top: 1px;
  /* border-radius-right: 8px;  */
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
}

.city-input-yelp {
  /* background-color: #b786df; */
  width: 20%;
  height: 2rem;
  padding: 0 1rem;
  border: 1px solid #bbb;
  /* border-radius: 6px; */
  cursor: pointer;
  display: inline-block;
  border: none;
  font-size: 1.2rem;
}

.city-input-yelp:hover {
  background-color: #e0e0e0;
  border-color: #a0a0a0;
}


.yelp-page-search-btn {
  margin: 0vmin;
}

.saved-events-page {
  /* background-color: #b786df; */
  background-color: white;
  /* display: flex; */
  /* flex-wrap: wrap; */
  justify-content: center;
  justify-items: center;
  justify-self: center;

  align-items: center;
  align-content: center;
  align-self: center;
  text-align: center;
  gap: 2rem;
}

/* * {
  border: dashed black 1px;
} */

.saved-page-cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 99%;

}

.search-btn-form-container {
  width: 100%;
  /* background-color: #b786df; */
}

/* .update-form-btns {
  background-color: #b786df;
  font-size: 10rem;

} */

.favorite-icon:hover {
  color: red;
  /* Changes the icon color to red on hover */
}

.menu-icon {
  color: grey;
  /* Changes the icon color to red on hover */
}

.menu-icon:hover {
  color: blue;
  /* Changes the icon color to red on hover */
}

.custom-link {
  text-decoration: none;
  /* Removes underline */
  color: inherit;
  /* Inherits color from parent, removing the default blue */
}

.NavBar {
  background-color: #968c84;
  /* margin-left: 5rem; */
  /* margin-left: 5rem; */
  /* margin-right: 5rem; */
}


.navbar-logo {
  height: 70px;
  margin-right: -20px;
  width: auto;

}


.ToggleButtonGroup {
  position: fixed;
  /* margin: 3rem; */
}

/* Styles for the search button hover effect */
.search-form-btn:hover {
  background-color: #888;
  color: #fff;
}



main .update-form-btns {
  /* background-color: #b786df; */
  /* padding: -1vmin; */
  /* margin: -1vmin; */
  font-size: x-small;
  /* width: 2rem; */
}

.yelp-search-options {
  width: 95%;
  /* background-color: #b786df; */
  display: flex;
  justify-content: space-between;
  gap: 2vmin;
}

.yelp-search-options > p {
/* background-color: yellow; */
background-color: #f0e68c; 
border: solid grey 1px;
border-radius: 10px;
padding: 1vmin;
}
.yelp-search-options > p:hover {
  background-color: #c0c0c0;
}

.carousel-box{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;  
  align-items: center;
  justify-content: center;
  text-align: center; 
}

.carousel-labels {
  width: max-content;
  padding: 1rem;
}

