/* .MainHomePage {
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 2rem;
    border: dashed 1px black;
    gap:3%;
    justify-content: space-evenly;
} */

.MainHomePage div {}



section img {
    /* width:  500px */
}